@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
  font-family: "Forma DJR Banner";
  src: url(assets/forma-djr-banner-regular.woff2);
}

@font-face {
  font-family: "Forma DJR Banner Thin";
  src: url(assets/forma-djr-banner-thin.woff2);
}

.Index {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.Index ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.Index ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes jump {
  0% {
    bottom: 50vh;
  }

  50% {
    bottom: 55vh;
  }

  75% {
    bottom: 50vh;
  }
}
