@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
  font-family: "Forma DJR Banner";
  src: url(assets/forma-djr-banner-regular.woff2);
}

@font-face {
  font-family: "Forma DJR Banner Thin";
  src: url(assets/forma-djr-banner-thin.woff2);
}

.Index {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.Index ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.Index ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

ul {
  list-style: none;
}

@keyframes jump {
  0% {
    bottom: 50vh;
  }

  50% {
    bottom: 55vh;
  }

  75% {
    bottom: 50vh;
  }
}

.bar-loader {
  width: 16px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#fff 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

.bar-loader-dark {
  width: 16px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}
